<app-styles></app-styles>

<div class="flex login-container">
  <div class="tui-col_md-4">

		<div class="tui-island__content">

        <div *ngIf="loginForm" class="tui-row tui-row_sme">

          <form [formGroup]="loginForm">
            <div class="flex flex-column">

              <h3 class="tui-form__header tui-form__header_margin-top_none">
                Войти
              </h3>

<!-- 
              <tui-notification *ngIf="error" class="tui-space_top-4" status="error">
                {{error}}
              </tui-notification> -->


              <div class="tui-form__row">
                <input nz-input formControlName="username"
                  placeholder="Имя пользователя">
              </div>

              <div class="tui-form__row">
                <input type="password" formControlName="password" placeholder="Пароль">
              </div>

              <div class="tui-form__buttons">
                <button (click)="onSubmit()" nzButton type="button" class="tui-space_right-4" appearance="primary">
                  primary
                </button>
              </div>

            </div>
          </form>

        </div>
      </div>

		</div>
</div>
