  <header>
  4
  </header>
  <div class="flex content">
    <nav>
      <ul>
        <li>
          <a tuiLink href="#">Программы</a>
        </li>
        <li>
          <a tuiLink href="#">Преподователи</a>
        </li>
        <li>
          <a tuiLink href="#">Страницы</a>
        </li>
        <li>
          <a tuiLink href="#">Интеграция</a>
        </li>
      </ul>
    </nav>
    <div class="content-wrap">
      <main>
        12ll
        <router-outlet></router-outlet>
      </main>
    </div>

  </div>
